// Backgrounds
$background_color_primary: #fafafa;
$background_color_secondary: #ccc;

// Text
$text_color_primary: #8f02d1;
$text_color_secondary: #222;

// Fonts
$font_family: 'Poppins', sans-serif;
$font_size_title: 2.5rem;
$font_size_subtitle: 2rem;
$font_size_tasks: 1.5rem;
$font_size_button: 1.25rem;
$font_size_text: 1.063rem;